# Question: Which states have the highest and lowest percentage of computer and internet access?
* Data source: acs/acs5/profile for states (https://api.census.gov/data/2020/acs/acs5/profile?get=NAME,DP02_0153E,DP02_0153PE,DP02_0154E,DP02_0154PE&for=state)
* Vintage: 2020
* Geography Level: States

### Imports

In [30]:
import pandas as pd
import requests

## Skill: Census API Data Retrieval
### Build the API request url

In [31]:
base_url = "https://api.census.gov/data"
dataset_name = "/2020/acs/acs5/profile"
get_start = "?get="
get_variables = "NAME,DP02_0153E,DP02_0153PE,DP02_0154E,DP02_0154PE"
geography = "&for=state:*"
request_url = base_url + dataset_name + get_start + get_variables + geography
print("request_url = ", request_url)

request_url =  https://api.census.gov/data/2020/acs/acs5/profile?get=NAME,DP02_0153E,DP02_0153PE,DP02_0154E,DP02_0154PE&for=state:*

### Use *requests* library to make the API call

In [32]:
r = requests.get(request_url)

api_results = r.json()

### Get the data into a Dataframe

In [33]:
df_state = pd.DataFrame(api_results)

print(df_state.shape)
df_state

(53, 6)

,0,1,2,3,4,5
0,NAME,DP02_0153E,DP02_0153PE,DP02_0154E,DP02_0154PE,state
1,Arkansas,1031971,88.2,900851,77.0,05
2,Washington,2755772,94.8,2617889,90.1,53
3,Kansas,1047658,91.7,964872,84.5,20
4,Oklahoma,1352894,90.6,1220163,81.7,40
5,Wisconsin,2157295,90.7,2013911,84.7,55
6,Mississippi,965947,86.5,846801,75.8,28
7,Missouri,2213727,90.7,2029268,83.2,29
8,Michigan,3625797,91.1,3358996,84.4,26
9,Rhode Island,375980,90.7,358992,86.6,44
10,Minnesota,2046817,92.7,1921524,87.0,27
11,Iowa,1151928,90.4,1058240,83.1,19
12,New Mexico,698146,88.1,617248,77.9,35
13,Nevada,1058007,93.6,966388,85.5,32
14,Delaware,345186,93.1,324194,87.4,10
15,Puerto Rico,None,None,None,None,72
16,Kentucky,1547842,88.5,1427064,81.6,21
17,South Dakota,313834,90.2,289591,83.2,46
18,Tennessee,2352354,89.1,2151736,81.5,47
19,Pennsylvania,4573026,89.6,4291043,84.0,42
20,California,12360505,94.3,11650839,88.9,06
21,West Virginia,632566,86.2,579140,78.9,54
22,Utah,964342,96.1,896175,89.3,49
23,New York,6754292,91.1,6320975,85.2,36
24,District of Columbia,268218,93.0,246847,85.6,11
25,Alaska,242325,95.0,222838,87.3,02
26,Florida,7383447,93.1,6775756,85.4,12
27,South Carolina,1769828,90.2,1593308,81.2,45
28,North Dakota,292964,91.3,266498,83.1,38
29,Maine,518583,91.1,480343,84.3,23
30,Georgia,3522345,92.0,3233397,84.4,13
31,Alabama,1659065,87.9,1509206,79.9,01
32,New Hampshire,505000,93.7,478829,88.8,33
33,Oregon,1545561,94.1,1446350,88.1,41
34,Wyoming,217146,93.1,200362,85.9,56
35,Arizona,2467069,93.3,2288198,86.6,04
36,Louisiana,1543376,88.1,1385094,79.1,22
37,Indiana,2350951,90.3,2164235,83.2,18
38,Idaho,605316,93.2,558279,86.0,16
39,Connecticut,1274056,92.0,1209432,87.3,09
40,Hawaii,433778,92.7,407533,87.1,15
41,Illinois,4468588,91.5,4168736,85.4,17
42,Massachusetts,2450583,92.6,2335640,88.2,25
43,Texas,9187393,92.7,8428632,85.1,48
44,Montana,394771,90.5,363179,83.3,30
45,Nebraska,701638,91.5,656006,85.6,31
46,Ohio,4276409,90.7,3988413,84.5,39
47,Colorado,2028365,94.9,1916108,89.6,08
48,New Jersey,3040126,92.9,2876590,87.9,34
49,Maryland,2088686,93.6,1974696,88.5,24
50,Virginia,2939714,92.3,2740020,86.1,51
51,Vermont,239892,91.3,218071,83.0,50
52,North Carolina,3657447,90.7,3364263,83.4,37

### Getting the first row into the columns & removing

In [34]:
column_names = df_state.iloc[0]

print(column_names)

0           NAME
1     DP02_0153E
2    DP02_0153PE
3     DP02_0154E
4    DP02_0154PE
5          state
Name: 0, dtype: object

In [35]:
df_state.columns = column_names

print(df_state.shape)
df_state.head()

(53, 6)

0        NAME  DP02_0153E  DP02_0153PE  DP02_0154E  DP02_0154PE  state
0        NAME  DP02_0153E  DP02_0153PE  DP02_0154E  DP02_0154PE  state
1    Arkansas     1031971         88.2      900851         77.0     05
2  Washington     2755772         94.8     2617889         90.1     53
3      Kansas     1047658         91.7      964872         84.5     20
4    Oklahoma     1352894         90.6     1220163         81.7     40

In [36]:
df_state = df_state.iloc[1:]

print(df_state.shape)
df_state

(52, 6)

0                   NAME DP02_0153E DP02_0153PE DP02_0154E DP02_0154PE state
1               Arkansas    1031971        88.2     900851        77.0    05
2             Washington    2755772        94.8    2617889        90.1    53
3                 Kansas    1047658        91.7     964872        84.5    20
4               Oklahoma    1352894        90.6    1220163        81.7    40
5              Wisconsin    2157295        90.7    2013911        84.7    55
6            Mississippi     965947        86.5     846801        75.8    28
7               Missouri    2213727        90.7    2029268        83.2    29
8               Michigan    3625797        91.1    3358996        84.4    26
9           Rhode Island     375980        90.7     358992        86.6    44
10             Minnesota    2046817        92.7    1921524        87.0    27
11                  Iowa    1151928        90.4    1058240        83.1    19
12            New Mexico     698146        88.1     617248        77.9    35
13                Nevada    1058007        93.6     966388        85.5    32
14              Delaware     345186        93.1     324194        87.4    10
15           Puerto Rico       None        None       None        None    72
16              Kentucky    1547842        88.5    1427064        81.6    21
17          South Dakota     313834        90.2     289591        83.2    46
18             Tennessee    2352354        89.1    2151736        81.5    47
19          Pennsylvania    4573026        89.6    4291043        84.0    42
20            California   12360505        94.3   11650839        88.9    06
21         West Virginia     632566        86.2     579140        78.9    54
22                  Utah     964342        96.1     896175        89.3    49
23              New York    6754292        91.1    6320975        85.2    36
24  District of Columbia     268218        93.0     246847        85.6    11
25                Alaska     242325        95.0     222838        87.3    02
26               Florida    7383447        93.1    6775756        85.4    12
27        South Carolina    1769828        90.2    1593308        81.2    45
28          North Dakota     292964        91.3     266498        83.1    38
29                 Maine     518583        91.1     480343        84.3    23
30               Georgia    3522345        92.0    3233397        84.4    13
31               Alabama    1659065        87.9    1509206        79.9    01
32         New Hampshire     505000        93.7     478829        88.8    33
33                Oregon    1545561        94.1    1446350        88.1    41
34               Wyoming     217146        93.1     200362        85.9    56
35               Arizona    2467069        93.3    2288198        86.6    04
36             Louisiana    1543376        88.1    1385094        79.1    22
37               Indiana    2350951        90.3    2164235        83.2    18
38                 Idaho     605316        93.2     558279        86.0    16
39           Connecticut    1274056        92.0    1209432        87.3    09
40                Hawaii     433778        92.7     407533        87.1    15
41              Illinois    4468588        91.5    4168736        85.4    17
42         Massachusetts    2450583        92.6    2335640        88.2    25
43                 Texas    9187393        92.7    8428632        85.1    48
44               Montana     394771        90.5     363179        83.3    30
45              Nebraska     701638        91.5     656006        85.6    31
46                  Ohio    4276409        90.7    3988413        84.5    39
47              Colorado    2028365        94.9    1916108        89.6    08
48            New Jersey    3040126        92.9    2876590        87.9    34
49              Maryland    2088686        93.6    1974696        88.5    24
50              Virginia    2939714        92.3    2740020        86.1    51
51               Vermont     239892        91.3     218071        83.0    50
52        North Carolina    3657447        90.7    3364263        83.4    37

# Skill: Renaming Columns

In [37]:
df_state.rename(columns={"NAME": "State_Name", "DP02_0153E": "Total_Computer", "DP02_0153PE": "Total_Computer_Percent", "DP02_0154E": "Total_Broadband_Internet", "DP02_0154PE": "Total_Broadband_Internet_Percent", "state": "State_FIPS"}, inplace=True)

print(df_state.shape)
df_state.head()

(52, 6)

/tmp/ipykernel_294985/3521467036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_state.rename(columns={"NAME": "State_Name", "DP02_0153E": "Total_Computer", "DP02_0153PE": "Total_Computer_Percent", "DP02_0154E": "Total_Broadband_Internet", "DP02_0154PE": "Total_Broadband_Internet_Percent", "state": "State_FIPS"}, inplace=True)

,State_Name,Total_Computer,Total_Computer_Percent,Total_Broadband_Internet,Total_Broadband_Internet_Percent,State_FIPS
1,Arkansas,1031971,88.2,900851,77.0,05
2,Washington,2755772,94.8,2617889,90.1,53
3,Kansas,1047658,91.7,964872,84.5,20
4,Oklahoma,1352894,90.6,1220163,81.7,40
5,Wisconsin,2157295,90.7,2013911,84.7,55

# Skill: Regular use of query()

In [38]:
get_rid = ["Puerto Rico", "District of Columbia"]
df_state = df_state.query("State_Name not in @get_rid")

print(df_state.shape)
df_state.head()

(50, 6)

,State_Name,Total_Computer,Total_Computer_Percent,Total_Broadband_Internet,Total_Broadband_Internet_Percent,State_FIPS
1,Arkansas,1031971,88.2,900851,77.0,05
2,Washington,2755772,94.8,2617889,90.1,53
3,Kansas,1047658,91.7,964872,84.5,20
4,Oklahoma,1352894,90.6,1220163,81.7,40
5,Wisconsin,2157295,90.7,2013911,84.7,55

### I need a state abbreviations to be able to plot, so I'm going grab a list and screenscrape it and then merge it after

# Skill: Screenscraping

In [39]:
tables = pd.read_html('https://abbreviations.yourdictionary.com/articles/state-abbrev.html')

tables

[                 0                  1                         2
 0       State Name  USPS Abbreviation  Traditional Abbreviation
 1          Alabama                 AL                      Ala.
 2           Alaska                 AK                    Alaska
 3          Arizona                 AZ                     Ariz.
 4         Arkansas                 AR                      Ark.
 5       California                 CA                    Calif.
 6         Colorado                 CO                     Colo.
 7      Connecticut                 CT                     Conn.
 8         Delaware                 DE                      Del.
 9          Florida                 FL                      Fla.
 10         Georgia                 GA                       Ga.
 11          Hawaii                 HI                    Hawaii
 12           Idaho                 ID                     Idaho
 13        Illinois                 IL                      Ill.
 14         Indiana                 IN                      Ind.
 15            Iowa                 IA                      Iowa
 16          Kansas                 KS                     Kans.
 17        Kentucky                 KY                       Ky.
 18       Louisiana                 LA                       La.
 19           Maine                 ME                     Maine
 20        Maryland                 MD                       Md.
 21   Massachusetts                 MA                     Mass.
 22        Michigan                 MI                     Mich.
 23       Minnesota                 MN                     Minn.
 24     Mississippi                 MS                     Miss.
 25        Missouri                 MO                       Mo.
 26         Montana                 MT                     Mont.
 27        Nebraska                 NE             Neb. or Nebr.
 28          Nevada                 NV                      Nev.
 29   New Hampshire                 NH                      N.H.
 30      New Jersey                 NJ                      N.J.
 31      New Mexico                 NM                    N.Mex.
 32        New York                 NY                      N.Y.
 33  North Carolina                 NC                      N.C.
 34    North Dakota                 ND                    N.Dak.
 35            Ohio                 OH                      Ohio
 36        Oklahoma                 OK                     Okla.
 37          Oregon                 OR             Ore. or Oreg.
 38    Pennsylvania                 PA                       Pa.
 39    Rhode Island                 RI                      R.I.
 40  South Carolina                 SC                      S.C.
 41    South Dakota                 SD                    S.Dak.
 42       Tennessee                 TN                     Tenn.
 43           Texas                 TX             Tex. or Texas
 44            Utah                 UT                      Utah
 45         Vermont                 VT                       Vt.
 46        Virginia                 VA                       Va.
 47      Washington                 WA                     Wash.
 48   West Virginia                 WV                     W.Va.
 49       Wisconsin                 WI             Wis. or Wisc.
 50         Wyoming                 WY                      Wyo.,
                           0                  1                         2
 0            Territory Name  USPS Abbreviation  Traditional Abbreviation
 1            American Samoa                 AS               Amer. Samoa
 2      District of Columbia                 DC                      D.C.
 3                      Guam                 GU                      Guam
 4  Northern Mariana Islands                 MP                      M.P.
 5               Puerto Rico                 PR                      P.R.
 6            Virgin Islands                 VI                      V.I.]

In [40]:
print("Number of Tables of Data in tables List:  ", len(tables))

Number of Tables of Data in tables List:   2

In [41]:
tables[0]

                 0                  1                         2
0       State Name  USPS Abbreviation  Traditional Abbreviation
1          Alabama                 AL                      Ala.
2           Alaska                 AK                    Alaska
3          Arizona                 AZ                     Ariz.
4         Arkansas                 AR                      Ark.
5       California                 CA                    Calif.
6         Colorado                 CO                     Colo.
7      Connecticut                 CT                     Conn.
8         Delaware                 DE                      Del.
9          Florida                 FL                      Fla.
10         Georgia                 GA                       Ga.
11          Hawaii                 HI                    Hawaii
12           Idaho                 ID                     Idaho
13        Illinois                 IL                      Ill.
14         Indiana                 IN                      Ind.
15            Iowa                 IA                      Iowa
16          Kansas                 KS                     Kans.
17        Kentucky                 KY                       Ky.
18       Louisiana                 LA                       La.
19           Maine                 ME                     Maine
20        Maryland                 MD                       Md.
21   Massachusetts                 MA                     Mass.
22        Michigan                 MI                     Mich.
23       Minnesota                 MN                     Minn.
24     Mississippi                 MS                     Miss.
25        Missouri                 MO                       Mo.
26         Montana                 MT                     Mont.
27        Nebraska                 NE             Neb. or Nebr.
28          Nevada                 NV                      Nev.
29   New Hampshire                 NH                      N.H.
30      New Jersey                 NJ                      N.J.
31      New Mexico                 NM                    N.Mex.
32        New York                 NY                      N.Y.
33  North Carolina                 NC                      N.C.
34    North Dakota                 ND                    N.Dak.
35            Ohio                 OH                      Ohio
36        Oklahoma                 OK                     Okla.
37          Oregon                 OR             Ore. or Oreg.
38    Pennsylvania                 PA                       Pa.
39    Rhode Island                 RI                      R.I.
40  South Carolina                 SC                      S.C.
41    South Dakota                 SD                    S.Dak.
42       Tennessee                 TN                     Tenn.
43           Texas                 TX             Tex. or Texas
44            Utah                 UT                      Utah
45         Vermont                 VT                       Vt.
46        Virginia                 VA                       Va.
47      Washington                 WA                     Wash.
48   West Virginia                 WV                     W.Va.
49       Wisconsin                 WI             Wis. or Wisc.
50         Wyoming                 WY                      Wyo.

In [42]:
df_abbr = pd.DataFrame(tables[0])

print(df_abbr.shape)
df_abbr.head()

(51, 3)

            0                  1                         2
0  State Name  USPS Abbreviation  Traditional Abbreviation
1     Alabama                 AL                      Ala.
2      Alaska                 AK                    Alaska
3     Arizona                 AZ                     Ariz.
4    Arkansas                 AR                      Ark.

In [43]:
column_names = df_abbr.iloc[0]
df_abbr.columns = column_names
df_abbr = df_abbr.iloc[1:]

print(df_abbr.shape)
df_abbr

(50, 3)

0       State Name USPS Abbreviation Traditional Abbreviation
1          Alabama                AL                     Ala.
2           Alaska                AK                   Alaska
3          Arizona                AZ                    Ariz.
4         Arkansas                AR                     Ark.
5       California                CA                   Calif.
6         Colorado                CO                    Colo.
7      Connecticut                CT                    Conn.
8         Delaware                DE                     Del.
9          Florida                FL                     Fla.
10         Georgia                GA                      Ga.
11          Hawaii                HI                   Hawaii
12           Idaho                ID                    Idaho
13        Illinois                IL                     Ill.
14         Indiana                IN                     Ind.
15            Iowa                IA                     Iowa
16          Kansas                KS                    Kans.
17        Kentucky                KY                      Ky.
18       Louisiana                LA                      La.
19           Maine                ME                    Maine
20        Maryland                MD                      Md.
21   Massachusetts                MA                    Mass.
22        Michigan                MI                    Mich.
23       Minnesota                MN                    Minn.
24     Mississippi                MS                    Miss.
25        Missouri                MO                      Mo.
26         Montana                MT                    Mont.
27        Nebraska                NE            Neb. or Nebr.
28          Nevada                NV                     Nev.
29   New Hampshire                NH                     N.H.
30      New Jersey                NJ                     N.J.
31      New Mexico                NM                   N.Mex.
32        New York                NY                     N.Y.
33  North Carolina                NC                     N.C.
34    North Dakota                ND                   N.Dak.
35            Ohio                OH                     Ohio
36        Oklahoma                OK                    Okla.
37          Oregon                OR            Ore. or Oreg.
38    Pennsylvania                PA                      Pa.
39    Rhode Island                RI                     R.I.
40  South Carolina                SC                     S.C.
41    South Dakota                SD                   S.Dak.
42       Tennessee                TN                    Tenn.
43           Texas                TX            Tex. or Texas
44            Utah                UT                     Utah
45         Vermont                VT                      Vt.
46        Virginia                VA                      Va.
47      Washington                WA                    Wash.
48   West Virginia                WV                    W.Va.
49       Wisconsin                WI            Wis. or Wisc.
50         Wyoming                WY                     Wyo.

# Skill: Keeping Columns

In [44]:
cols_to_keep = ["State Name", "USPS Abbreviation"]
df_abbr = df_abbr[cols_to_keep]

print(df_abbr.shape)
df_abbr.head()

(50, 2)

0  State Name USPS Abbreviation
1     Alabama                AL
2      Alaska                AK
3     Arizona                AZ
4    Arkansas                AR
5  California                CA

# Skill: Combining w/ Left Join

In [45]:
df_joined = pd.merge(df_state,
                       df_abbr,
                       left_on="State_Name",
                       right_on="State Name",
                       how='left'         # Type of Join:  Left!
                      )

print(df_joined.shape)
df_joined.head()

(50, 8)

,State_Name,Total_Computer,Total_Computer_Percent,Total_Broadband_Internet,Total_Broadband_Internet_Percent,State_FIPS,State Name,USPS Abbreviation
0,Arkansas,1031971,88.2,900851,77.0,05,Arkansas,AR
1,Washington,2755772,94.8,2617889,90.1,53,Washington,WA
2,Kansas,1047658,91.7,964872,84.5,20,Kansas,KS
3,Oklahoma,1352894,90.6,1220163,81.7,40,Oklahoma,OK
4,Wisconsin,2157295,90.7,2013911,84.7,55,Wisconsin,WI

### It was at this point I realized I needed a bunch of these to be ints and floats.

In [46]:
df_joined.dtypes

0
State_Name                          object
Total_Computer                      object
Total_Computer_Percent              object
Total_Broadband_Internet            object
Total_Broadband_Internet_Percent    object
State_FIPS                          object
State Name                          object
USPS Abbreviation                   object
dtype: object

In [47]:
df_joined["Total_Computer"] = pd.to_numeric(df_joined["Total_Computer"]).astype(int)
df_joined["Total_Broadband_Internet"] = pd.to_numeric(df_joined["Total_Broadband_Internet"]).astype(int)
df_joined["Total_Computer_Percent"] = pd.to_numeric(df_joined["Total_Computer_Percent"]).astype(float)
df_joined["Total_Broadband_Internet_Percent"] = pd.to_numeric(df_joined["Total_Broadband_Internet_Percent"]).astype(float)

df_joined.dtypes

0
State_Name                           object
Total_Computer                        int64
Total_Computer_Percent              float64
Total_Broadband_Internet              int64
Total_Broadband_Internet_Percent    float64
State_FIPS                           object
State Name                           object
USPS Abbreviation                    object
dtype: object

# Skill: Reordering

In [48]:
cols_to_keep = ["State_Name", "USPS Abbreviation", "State_FIPS", "Total_Computer", "Total_Computer_Percent", "Total_Broadband_Internet", "Total_Broadband_Internet_Percent"]
df_joined = df_joined[cols_to_keep]

print(df_joined.shape)
df_joined.head()

(50, 7)

,State_Name,USPS Abbreviation,State_FIPS,Total_Computer,Total_Computer_Percent,Total_Broadband_Internet,Total_Broadband_Internet_Percent
0,Arkansas,AR,05,1031971,88.2,900851,77.0
1,Washington,WA,53,2755772,94.8,2617889,90.1
2,Kansas,KS,20,1047658,91.7,964872,84.5
3,Oklahoma,OK,40,1352894,90.6,1220163,81.7
4,Wisconsin,WI,55,2157295,90.7,2013911,84.7

### Save to CSV

In [49]:
csv_file_to_create = "States_Computer_Internet.csv"

filename_with_path = "Data/" + csv_file_to_create
df_joined.to_csv(filename_with_path, index=False)